#Generater certificates on remote host
- name: "Enroll Venafi certificate on remote host"
  venafi_certificate:
    url: "{{ venafi.url if venafi.url is defined else None }}"
    token: "{{ venafi.token if venafi.token is defined else None }}"
    zone: "{{ venafi.zone if venafi.zone is defined else None }}"
    test_mode: "{{ venafi.test_mode if venafi.test_mode is defined else 'false'}}"
    user: "{{ venafi.user if venafi.user is defined else None }}"
    password: "{{ venafi.password if venafi.password is defined else None }}"
    trust_bundle: "{{ venafi.trust_bundle if venafi.trust_bundle is defined else None}}"
    cert_path: "{{ certificate_cert_path }}"
    chain_path: "{{ certificate_chain_path if certificate_chain_path is defined else None }}"
    privatekey_path: "{{ certificate_privatekey_path if certificate_privatekey_path is defined else None }}"
    common_name: "{{ certificate_common_name }}"
  register: testout
- name: "dump test output"
  debug:
    msg: "{{ testout }}"