# Generates certificates on remote host
---
- name: "Enroll Venafi certificate on remote host"
  venafi_certificate:
    url: "{{ venafi.url if venafi.url is defined else None }}"
    token: "{{ venafi.token if venafi.token is defined else None }}"
    zone: "{{ venafi.zone if venafi.zone is defined else None }}"
    test_mode: "{{ venafi.test_mode if venafi.test_mode is defined else 'false' }}"
    user: "{{ venafi.user if venafi.user is defined else None }}"
    password: "{{ venafi.password if venafi.password is defined else None }}"
    trust_bundle: "{{ venafi.trust_bundle if venafi.trust_bundle is defined else None }}"
    cert_path: "{{ certificate_cert_path }}"
    chain_path: "{{ certificate_chain_path if certificate_chain_path is defined else None }}"
    privatekey_path: "{{ certificate_privatekey_path if certificate_privatekey_path is defined else None }}"
    privatekey_type: "{{ certificate_privatekey_type if certificate_privatekey_type is defined else None }}"
    privatekey_size: "{{ certificate_privatekey_size if certificate_privatekey_size is defined else 2048 }}"
    common_name: "{{ certificate_common_name }}"
    alt_name: "{{ certificate_alt_name | default([]) }}"
    before_expired_hours: "{{ certificate_before_expired_hours if certificate_before_expired_hours is defined else None }}"
    force: "{{ certificate_force if certificate_force is defined else false }}"
  register: certout
- name: "dump test output"
  debug:
    msg: "{{ certout }}"
